#.gitignore
*.svg 
*.pdf
*.zip
*.save
*.user
*.cbp
*kdev*
*.json
*.css
*.tcl
.idea*

*Makefile*
*Cache*

bin
build
CMakeFiles
Testing
dev_files

CTestTestfile.cmake
cmake_install.cmake

source/Catch/test_generated_alignment.cpp
