#.gitignore
*.svg 
*.pdf
*.zip
*.html
*.ipynb
*.save
*.user
*.cbp
*kdev*
*.json
*.css
*.tcl

*Makefile*
*Cache*

bin
build
CMakeFiles
dataset
Testing
dev_files

CTestTestfile.cmake
cmake_install.cmake

